// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Cormorant Garamond', serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Title fontface
$title-font-family: 'Philosopher', sans-serif;
$title-font-weight: $regular;
$title-font-size: 13px;
$title-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;
@mixin lgHeroHeader {
    height: calc(100vh - 3rem);
    width: 100%;
    display: flex;
    justify-content: center;
}

@mixin smHeroHeader {
    height: calc(100vh - 9rem);
    width: 100%;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 30em) {
        margin-top: 40px;
    }
}

// Colors
$white: #fff;
$black: #000;



@import "../modules/all";
