
body {
	border-right: 6px solid $white;
	border-left: 6px solid $white;
	border-top: 6px solid $white;
	overflow-x: hidden;
	@media screen and (max-width: 30em) {
		border-top: 0;
	}
}
.align-right {
	display: flex;
	text-align: right;
}

.align-center {
	display: flex;
  text-align: center;
}

.align-justify {
	display: flex;
  	text-align: justify;
}


// project page: header image
.project-section:first-child,
.hero:not(.hidden) {
	@include lgHeroHeader;
	img {
		height: 100%;
		object-fit: cover;
	}
}

// Project meta
.project-info {
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: center;
	align-items: center;
	align-self: center;
	transform: scale(1.5);
	transition: all .3s;
	transition-timing-function: linear;
	z-index: 8;
}


// project images
.project-section {
	// images overlay
	.img-cover {
		position: relative;
		height: 100%;
		width: 100%;
		overflow: hidden;
		img {
			transition: all .3s;
			transition-timing-function: linear;
		}
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, .3);
		}
	}
	// hover effect
	&:hover {
		// text
		.project-info {
			transform: scale(1.1);
			z-index: 8;
		}
		// image
		img {
			transform: scale(1.1);
		}
	}
	&:not(:first-child) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 6px;
		padding-left: 6px;
		@media screen and (max-width: 30em) {
			padding-left: 0;
		}
		&:nth-child(2n-6) {
			padding-left: 0;
		}
		picture,
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}





// blog
.Blog {
	nav,
	.title,
	.social {
		color: $black;
	}
}

// blog pages
#blog-section,
#article-page {
	main {
		padding-top: 72px;
	}
}



// blog feed
.blog-section {
	display: flex;
	flex-direction: column;
	// excerpt gets 50% of the available space
	.blog-excerpt {
		flex: 1 0 auto;
	}
	// image has a set height
	.blog-image {
		height: 17em;
		overflow: hidden;
		// overlay and the actual image full width and cover avail space
		.img-cover,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

/* HOME PAGE */
#home {
	#menuToggle span {
    	background: $black;
	}
	.main-nav a {
		color: $black;
	}
}

// // // // // //
// responsive grid
// // // // // //
.blog-section {
// MOBILE
	// select all but the first of nth-of-type
	&:nth-of-type(n+2) {
		// select all device size up to 30em (mobile)
		@media print, screen and (max-width: 30em) {
			padding-top: 3rem;
		}
	}

// MEDIUM SCREENS
	// select all but the first 3
	&:nth-of-type(n+3) {
		@media print, screen and (min-width: 40em) {
			padding-top: 3em;
		}
	}
	&:nth-of-type(2n) {
		@media print, screen and (min-width: 40em) {
			padding-left: 1%;
		}
	}

// LARGE SCREENS
	// start at the second, and apply the same rules to every third
	&:nth-of-type(3n+2) {
		@media print, screen and (min-width: 64em) {
			padding-left: .5%;
			padding-right: .5%;
		}
	}
	&:nth-of-type(3) {
		@media print, screen and (min-width: 64em) {
			padding-top: 0;
		}
	}
}


// project blurb
.text-entry {
	padding: 1rem 1em 3rem 1rem;
	text-align: center;
}


// projects header fix
.hidden {
	position: absolute;
	text-indent: -99rem;
}

.honey {
  position: absolute;
  left: -9999px;
}
