main {
  ul
   {
    margin-left: 0;
    padding-left: 40px;
  }
}

#collection-page .collection {
    section {
        display: flex;
        flex-direction: column;
        p, ul {
            margin: 2em 12em;
            text-align: center;
            list-style-type: none;
            @media screen and (max-width: 30em) {
                margin: 1em 1%;
            }
        }
        h2 {
            border-top: 1px dotted black;
            margin: 2em 12em 1em 12em;
            padding-top: 1em;
            text-align: center;
            @media screen and (max-width: 30em) {
                margin: 2em 2em 1em 2em;
            }
        }
        h3, h4, h5, h6 {
            text-align: center;
        }
        figure {
            display: block;
            object-fit: cover;
            @media screen and (max-width: 30em) {
                margin: 0;
            }
            img {
                object-fit: cover;
                &:hover {
                    @include boxShadowHover;
                }
            }
        }
    }
}
