ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease; }

a:hover {
  color: tomato; }

body,
time {
  font-family: "Cormorant Garamond", serif; }

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "Philosopher", sans-serif;
  margin: 0;
  padding: 0; }

h1 {
  color: #f90;
  font-size: 3em; }
  @media print, screen and (max-width: 30em) {
    h1 {
      font-size: 2.5em; } }

h2 {
  font-size: 2rem; }

time {
  color: #9ffffa; }

header .social .fab {
  font-size: 12px; }

@media screen and (max-width: 30em) {
  header .social {
    color: #000; } }

time.dark {
  color: #000;
  line-height: 40px; }

body {
  border-right: 6px solid #fff;
  border-left: 6px solid #fff;
  border-top: 6px solid #fff;
  overflow-x: hidden; }
  @media screen and (max-width: 30em) {
    body {
      border-top: 0; } }

.align-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right; }

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }

.align-justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify; }

.project-section:first-child,
.hero:not(.hidden) {
  height: calc(100vh - 3rem);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .project-section:first-child img,
  .hero:not(.hidden) img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  z-index: 8; }

.project-section .img-cover {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .project-section .img-cover img {
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear; }
  .project-section .img-cover::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3); }

.project-section:hover .project-info {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 8; }

.project-section:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

.project-section:not(:first-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
  padding-left: 6px; }
  @media screen and (max-width: 30em) {
    .project-section:not(:first-child) {
      padding-left: 0; } }
  .project-section:not(:first-child):nth-child(2n-6) {
    padding-left: 0; }
  .project-section:not(:first-child) picture,
  .project-section:not(:first-child) img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.Blog nav,
.Blog .title,
.Blog .social {
  color: #000; }

#blog-section main,
#article-page main {
  padding-top: 72px; }

.blog-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .blog-section .blog-excerpt {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
  .blog-section .blog-image {
    height: 18em;
    overflow: hidden; }
    .blog-section .blog-image .img-cover,
    .blog-section .blog-image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

/* HOME PAGE */
#home #menuToggle span {
  background: #000; }

#home .main-nav a {
  color: #000; }

@media print, screen and (max-width: 30em) {
  .blog-section:nth-of-type(n+2) {
    padding-top: 3rem; } }

@media print, screen and (min-width: 40em) {
  .blog-section:nth-of-type(n+3) {
    padding-top: 3em; } }

@media print, screen and (min-width: 40em) {
  .blog-section:nth-of-type(2n) {
    padding-left: 1%; } }

@media print, screen and (min-width: 64em) {
  .blog-section:nth-of-type(3n+2) {
    padding-left: .5%;
    padding-right: .5%; } }

@media print, screen and (min-width: 64em) {
  .blog-section:nth-of-type(3) {
    padding-top: 0; } }

.text-entry {
  padding: 1rem 1em 3rem 1rem;
  text-align: center; }

.hidden {
  position: absolute;
  text-indent: -99rem; }

.honey {
  position: absolute;
  left: -9999px; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 6px;
  right: 6px;
  z-index: 9;
  padding-top: 2.5em;
  margin: 1rem -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem; }
  @media screen and (max-width: 30em) {
    .main-nav {
      position: fixed;
      background: #fff;
      padding: 1.5em 0;
      margin: 0; } }
  .main-nav a {
    color: #fff; }
    @media screen and (max-width: 30em) {
      .main-nav a {
        color: #000; } }
  .main-nav nav {
    padding-left: 0.9375rem; }
  .main-nav .title,
  .main-nav .social {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    list-style: none; }
    .main-nav .title li:not(:last-child),
    .main-nav .social li:not(:last-child) {
      padding-right: 1em; }
  .main-nav .title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .main-nav .title,
  .main-nav .title a {
    font-size: 1em; }
  .main-nav .social {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 0.9375rem; }

#blog-section header a,
#article-page header a {
  color: #000; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .pagination.blog-paginate {
    width: 100%;
    text-align: center; }
  .pagination .left,
  .pagination .right {
    padding: 2rem; }
  .pagination .pagination-item {
    opacity: 0.3; }

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0; }
  .footer ul li {
    padding: 0 1rem; }

input, form button,
label,
textarea,
form button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 17em;
  margin: .5em 0;
  padding: 0 .75em;
  border: 1px solid #eeeeee;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-radius: 4px; }

textarea {
  padding: .75em;
  height: 8em; }

label {
  float: left;
  text-align: right;
  width: 100px; }

input, form button {
  height: 2.5em; }
  input:focus, form button:focus {
    border: 2px solid #f90;
    line-height: 30px; }

form button {
  background: #9c9; }

.alert {
  color: red; }

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
#menuToggle {
  display: block;
  position: relative;
  top: 5px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; }

#menuToggle input, #menuToggle form button, form #menuToggle button {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/*
 * Just a quick hamburger
*/
#menuToggle span {
  display: block;
  width: 23px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  @media screen and (max-width: 30em) {
    #menuToggle span {
      background: #000; } }

@media print, screen and (min-width: 30em) {
  #blog-section #menuToggle span,
  #article-page #menuToggle span {
    background: #000; } }

@media print, screen and (min-width: 30em) {
  #blog-section .title a,
  #article-page .title a {
    color: #000; } }

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%; }

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span, #menuToggle form button:checked ~ span, form #menuToggle button:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323; }

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3), #menuToggle form button:checked ~ span:nth-last-child(3), form #menuToggle button:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2); }

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2), #menuToggle form button:checked ~ span:nth-last-child(2), form #menuToggle button:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px); }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 235px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  @media print, screen and (max-width: 30em) {
    #menu {
      width: 155px; } }

#menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
  font-size: 22px; }

#menu li a {
  color: black; }

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul, #menuToggle form button:checked ~ ul, form #menuToggle button:checked ~ ul {
  -webkit-transform: none;
          transform: none; }
/*# sourceMappingURL=app.css.map */